.App {
    text-align: center;
  }
  
  .App p {
    margin: 0.4rem;
  }
  
  
  
  
  .App-header {
    background-color: #282c34;
  
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  form{
    padding-bottom: 30px;


  }
main{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #282c34;
}

.card{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.card1{
  background-color: red;
  width: 30%;
  min-height: 500px;
  max-width: 300px;
  text-transform: uppercase;
}
.card2{
  background-color:orange ;
  width: 30%;
  min-height: 500px;
  max-width: 300px;

  text-transform: uppercase;



  
}
.card3{
  background-color: green;
  width: 30%;
  min-height: 500px;
  max-width: 300px;
  text-transform: uppercase;



}
body{
  background-color: #282c34;
  margin: 0;
  padding: 0;


}
li{
  list-style: none;
  
}
  